*{
    margin: 0;
    padding: 0;
}

#top{
    position: absolute;
    left: -240px;
    top: -270px;
    width: 800px;
}

body{
    background-color: #1BA1AD;
    overflow-x: hidden;
    overflow-y: hidden;
}

#bottom{
position: absolute;
width: 800px;
left: 650px;
top: 250px;
}

#main-con{
    position: absolute;
    /* border: 1px solid red; */
    width: 10cm;
    left: 500px;
    top: 100px;
    height: 65vh;
    background-color: white;
    border-radius: 10px;
}

#white{
    position: absolute;
    
    width: 2.1cm;
    z-index: 1;
    left: 150px;
    top: 115px;
    height: 2cm;
    border-radius: 50%;
    background-color: white;
}

#imgdv{
    position: absolute;
    
    width: 10cm;
    height: 4cm;
}

#ptrnim{
    width: 100%;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

#victor{
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    top: 119px;
    left: 153px;
    width: 75px;
}

#h31{
    position: absolute;
    z-index: 1;
    top: 213px;
    left: 120px;
}
#p26{
    position: absolute;
    z-index: 1;
    top: 217px;
    left: 226px;
}

#londn{
    position: absolute;
    z-index: 1;
    top: 245px;
    left: 166px; 
}

#hr{
    position: relative;
    
    top: 120px;
}

#d8{
    position: absolute;
    top: 300px;
    z-index: 1;
    left: 50px;
    line-height: 28px;
}

#likkes{
    position: absolute;
    top: 300px;
    left: 170px;
    line-height: 28px;
}

#phtos{
    position: absolute;
    top: 300px;
    left: 280px;
    line-height: 28px;
}